{% extends 'base.html' %}

{% block styles%}
    {{ super() }}
    <!-- <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"> -->
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/united/bootstrap.min.css" rel="stylesheet" integrity="sha384-+d4wMJSxEP3vzs2qZBElQRTZMXwgWH15Nyn2K/9XjKiHmh3sBuk1Un/IbcdMcYC4" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

{% endblock %}

{% block content%}
<div style="background-color:rgb(13, 12, 28);font-style: normal;font-family: Montserrat;">
    <div>
        <div class='jumbotron' style="font-size: larger; text-align: center;">
            <h2>Our Mission</h2>
            <p>We are a non-profit organisation that helps various charities get funding from 
                donors and also allows donors to pledge their conrtibution. We store donor and charity 
                details inside a database. We also provide donors with the option of anonymity. Donors whose
                details are saved and had previously pledged to make a donation will be reminded when to make the
                donation.
            </p>
        </div>
        <div>
            <h2 style="text-align: center; color:orangered;">Our Approach</h2>
            <p></p>
            <p></p>
            <div class='container' style='color: seashell;'>
                <div class='row'>
                    <div class='col-md-4'>
                        <h4>Connecting</h4>
                        <p>Patnership is key to everything we do.We recognise that in order to provide young people with the 
                            best possible services and future, collaboration is key. We work with many and varied individuals and
                            organisations to break down the artificial barriers that restrict collaborative work, so that young people 
                            have the chance to be as healthy, safe and happy as possible
                        </p>
                    </div>
                    <div class='col-md-4'>
                        <h4>Supporting</h4>
                        <p>We believe in the potential of young people to make positive changes. We aim to support young people in increasing
                             their ability, willingness and confidence to access high quality, appropriate youth work, health care and 
                             education, so that these changes can become reality.
                        </p>
                    </div>
                    <div class='col-md-4'>
                        <h4>Innovating</h4>
                        <p>We aim to always innovate in delivery and integrate youth work provision and health services. We know that the 
                            problems young people face evolve and change, and our priority is to constantly consult young people  about
                             these issues and , along with our skilled patners, come up with innovative and effective ways to address 
                             them that are youth-focused, sustainable and scalable
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}