{% extends 'base.html' %}
{% block content%}
<div style='font-size: larger; font-style: inherit;font-family: Montserrat;background-color: rgb(12, 13, 28);color: seashell;'>
    <div>
        <div class='jumbotron'>
            <h4 style='font-weight: 600;font-family: Montserrat;color: orangered;text-align: center;'>How To Apply:</h4>
        </div>
        <p>Applying as a donor:</p>
        <ul>
            <li>Identify a charity you want to be a donor to</li>
            <li>Create a donor account</li>
            <li>Donate :)</li>
        </ul>
        <p>Applying a charity</p>
        <ul>
            <li>Apply using the apply form</li>
            <li>Naviagate through the charity profile</li>
            <li>Add beneficiaries using the beneficiaries form</li>
        </ul>
    </div>
</div>
{% endblock%}