<div>
    <div>
        <div class='jumbotron'>
            <h4>How To Apply:</h4>
        </div>
        <p>Applying as a donor:</p>
        <ul>
            <li>Identify a charity you want to be a donor to</li>
            <li>Create a donor account</li>
            <li>Donate :)</li>
        </ul>
        <p>Applying a charity</p>
        <ul>
            <li>Apply using the apply form</li>
            <li>Naviagate through the charity profile</li>
            <li>Add beneficiaries using the beneficiaries form</li>
        </ul>
    </div>
</div>