{%import 'bootstrap/wtf.html' as wtf%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donations Automation</title>
</head>
<body>
    {%block styles%}
      <link rel="stylesheet" href="{{url_for('static', filename = 'bootstrap.css')}}">
      <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
      <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/united/bootstrap.min.css" rel="stylesheet" integrity="sha384-+d4wMJSxEP3vzs2qZBElQRTZMXwgWH15Nyn2K/9XjKiHmh3sBuk1Un/IbcdMcYC4" crossorigin="anonymous">
    {%endblock%}
    {%block navbar%}

        {%include 'navbar.html'%}

    {%endblock%}
    {% block content%}
    
    {%endblock%}
</body>
</html>