<div class="navbar-collapse">
    <div class='container'>
        <div class='row'>
            <div class='col-md-3'>
                <h4><a href="{{url_for('donor.applying')}}">Applying</a></h4>
            </div>
            <div class='col-md-3'>
                <h4><a href="{{url_for('donor.about')}}">About us</a></h4>
            </div>

            <div class='col-md-3'>
                <h4><a href="{{url_for('charity.apply')}}">Register Charity</a></h4>
            </div>
            <div class='col-md-3'>
                <h4><a href="{{url_for('donor.create_account')}}">Donor Registration</a></h4>
            </div>
        </div>
    </div>


</div>
